<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

<main>

    <% if (products.length >0) { %>
        <ul class="cart-list">
            <% products.forEach(p => { %>
                <li class="cart-list__item">
                    <img src="<%= p.imageUrl %>" alt="<%= p.title %>">
                    <h2><%= p.title %> </h2>
                    <h3>$<%= p.price %> x <%= p.quantity %> = $<%= p.price*p.quantity %></h3>
                    <form action="/cart-delete-item" method="post">
                        <input type="hidden" name="productId" value="<%= p._id %>">
                        <button class="btn" type="submit">Delete</button>
                    </form>
                </li>
             
            <% }) %>
        </ul>
        <hr>
        <div class="centered">
            <form action="/create-order" method="post">
                <button type="submit" class="btn">Order Now!</button>
            </form>
        </div>
   <% } else { %>
    <h1>No products in the cart</h1>
    
    <% } %>

</main>


        <%- include('../includes/end.ejs') %>